[Desktop Entry]
Type=Application
Name=input-remapper-gtk
Exec=input-remapper-gtk
Icon=input-remapper
Comment=Start input-remapper GUI in the background
Hidden=true
X-GNOME-Autostart-enabled=false
