[Desktop Entry]
Type=Application
Name=Input Remapper
Icon=input-remapper
Exec=input-remapper-gtk
Terminal=false
Categories=Settings
Comment=Remap Linux input devices, shortcuts, and macros
